body {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial;
}

/* HEADER  */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 16px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* HERO PART */
.First {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 60px;
    gap: 48px;
}

.Intro-text {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    word-wrap: break-word;
    color: #E5E7EB;
    font-size: 18px;
    gap: 24px;
}

.First button {
    align-self: flex-start;
    border: 0;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 10px 30px;
    font-size: 24px;
    border-radius: 8px;
}

.heading-first {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

/* CARDS PART */
.Second {
    display: flex;
    flex-direction: column;
    padding: 60px;
    text-align: center;
    align-items: center;
}

#info {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

/* QOUTE PART */
.Third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 100;
    background-color: #E5E7EB;
    padding: 100px 200px;
}

#author {
    align-self: flex-end;
    font-weight: 400;
}

/* CONTACT PART */
.fourth-box {
    display: flex;
    justify-content: space-around;
    align-items: center;

    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 24px;
    margin: 100px 140px;
    padding: 60px;
    border-radius: 20px;
}

.fourth-box button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 3px solid #F9FAF8;
    padding: 10px 30px;
    font-size: 24px;
    border-radius: 8px;
}

.fourth-heading {
    color: #F9FAF8;
    font-size: 36px;
    font-weight: 900;
}

/* FOOTER */
.footer {
    text-align: center;
    background-color: #1F2937;
    padding: 16px;
    color: #F9FAF8;
}